*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    transition: all 0.5s ease;
}

body{
    font-family: sans-serif;
}

a{
    text-decoration: none;
    color: white;
}

body{background-image: linear-gradient(to bottom right, rgba(79,61,176,1),rgba(210,53,165));
}

.container{
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}
/* calculator is only needed from the class not calculator dark/ the full name of the class this is only to
   specify that this is indeed the code for the dark theme.*/
.calculator {
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px black;
}

.theme-toggle {
    position: absolute;
    top: 30px;
    right: 30px;
    color: white;
    cursor: pointer;
    z-index: -1;
    
}

.theme-toggle.active{
    color: black;
}

.theme-toggle.active::before {
    background-color: white;
}
/*The mistake I was making was the positioning of the toggle mainly the positioning I set it to absolute and that worked.*/
.theme-toggle::before {
    content: "";
    height: 30px;
    width: 30px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: black;
    z-index: -1;
}
/*.display screen & #display are are a class and id respectively*/
/*theme toggle button will not show up must figure that out.*/
/*so far everything is showing up ok except for that one thing.*/
#display {
    margin: 0 10px;
    height: 150px;
    width: auto;
    max-width: 270px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 30px;
    margin-bottom: 20px;
    overflow-x: scroll;
}
/*sets scroll bar to display block and height to the 3px allows number results to scroll the screen as they appear larger etc*/
#display::-webkit-scrollbar {
    display: block;
    height: 3px;
}

button {
    border: none;
    height: 60px;
    width: 60px;
    border-radius: 50px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 200ms ease;
}
/*come back to this later I want to use scale in another project*/
button:hover {
    transform: scale(1.20);
}

button#equal {
    height: 120px;
}

.calculator {
    background-color: white;
}

.calculator #display {
    color: black;
}

.calculator button#clear {
    background-color: greenyellow;
    color: darkgreen;
}

.calculator button.btn-number {
    color: black;
    background-color: lightblue;
}

.calculator button.btn-operator {
    background-color: lightcoral;
    color: red;
}

.calculator button#equal {
    background-color: darkblue;
    color: lightblue;
}

/*dark theme*/

.calculator.dark {
    background-color: #071115;
}

.calculator.dark #display {
    color: #f8fafd;
}

.calculator.dark button#clear {
    background-color: darkred;
    color: #ff0011;
}

.calculator.dark button.btn-number {
    background-color: lightgreen;
    color: black;
}

.calculator.dark button.btn-operator {
    background-color: darkmagenta;
    color: pink;
}

.calculator.dark button#equal {
    background-color: lightblue;
    color: black;
}