*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    transition: all 0.5s ease;
}

body {
    font-family: sans-serif;
    background-image: linear-gradient(to bottom right, rgba(79,51,176,1), rgba(210, 51,176,1),rgb(210,53,165));
}

a {
    text-decoration: none;
    color: white;
}


.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.calculator{
    background-color: black;
    box-shadow:.0.0.30px black;position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    border: 10px;
    box-shadow: 0 0 30px black;
    border-radius: 10px;
}


.calculator{
    position:absolute;
    height: auto;
    width: auto;
    padding: 28px;
    border-radius: 10px;
    
}

.theme-toggle {
    position: absolute;
    top: 30px;
    right: 30px;
    color: white;
    cursor: pointer;
    z-index: -1;
}

.theme-toggle.active {
    color: black;
}

.theme-toggle.active::before {
    background-color: white;
}

.theme-toggle::before {
    content: '';
    height: 30px;
    width: 30px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: black;
    z-index: -1;


}

#display {
    margin: 0 10px;
    height: 150px;
    width: auto;
    max-width: 270px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 30px;
    margin-bottom: 20px;
    overflow-x: scroll;
}

#display::-webkit-scrollbar {
    display: block;
    height: 3px;
}

button {
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 30px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 200ms ease;
}

button:hover {
    transform: scale(1.15);
}

button#equal {
    height: 130px;
}

.toggle-icon {
    position: absolute;
    top: 30px;
    right: 30px;
    color: white;

}

/*light-theme*/

.calculator {
    background-color: white;
}

.calculator #display {
    color: black;
}

.calculator button#clear {
    background-color: lightcoral;
    color: red;
}

.calculator button.btn-number {
    background-color: lightblue;
    color: black;
}

.calculator button.btn-operator {
    background-color: purple;
    color: lightpink;
}

.calculator button.btn-equal {
    background-color: cornflowerblue;
    color: black;
}

/*dark theme*/
.calculator.dark {
    background-color: black;
}

.calculator.dark #display {
    color: #f8fafd;
}

.calculator.dark button#clear {
    background-color: black;
    color: red;
}

.calculator.dark button.btn-number {
    background-color: black;
    color: white;
}

.calculator.dark button.btn-operator {
    background-color: black;
    color: red;
}

.calculator.dark button.btn-equal {
    background-color: black;
    color: white;
}